
# Image
*.png
*.jpg

# Data
*.xls
*.xlsx
*.zip
*.csv

# Docs
*.doc
*.docx
*.pdf

# Folders
.vscode
.ipynb_checkpoints

# Python
__pycache__
*.pyc
*.pyo
*.egg-info

# Scripts
*.bat
