# Image
*.png
*.jpg

# Data
*.xls
*.xlsx
*.zip
*.csv

# Docs
*.doc
*.docx
*.pdf

# Python
__pycache__
*.pyc
*.pyo
*.egg-info
.eggs
build
dist
Pipfile.lock

# Tests tools
.coverage
.pytest_cache
.tox
htmlcov

# Editor configuration files
.vscode
